---
http_interactions:
- request:
    method: get
    uri: https://api.seesaw.co/v1/slugs/d/3I0n0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5a7f1a4a696c907558885f2d5ad66550"'
    body:
      encoding: US-ASCII
      string: ! '{"decision":{"created_at":"2013-01-24T15:44:24Z","final_vote_id":null,"flag_count":null,"id":3179,"is_private":false,"meta":{"question_display_text":"I
        preordered a Lockitron. Which color should I get?","question_display_html":"I
        preordered a Lockitron. Which color should I get?","question_entities":[]},"published_at":"2013-01-24T15:45:04Z","question":"I
        preordered a Lockitron. Which color should I get?","updated_at":"2013-01-30T06:12:50Z","user_id":4,"pusher_channel":"decision-4-3179","timeline_key":"4,3179","analytics":{"views":499,"updated_at":"2013-01-30T06:12:50Z","comments":4,"unique_viewers":2,"referrers":{},"votes":{"5226":{"anonymous":71,"invited":2,"user":1,"total":74,"display_percentage":45},"5227":{"anonymous":58,"invited":3,"user":4,"total":65,"display_percentage":40},"5228":{"anonymous":21,"user":2,"total":23,"display_percentage":15}},"total_votes":162},"user_vote":{"choice_id":5227,"created_at":"2013-01-24T15:46:28Z","decision_id":3179,"id":3986,"meta":null,"reason":null,"user":{"biography":null,"created_at":"2012-11-13T22:44:25Z","family_name":null,"given_name":null,"id":4,"meta":null,"moderated_decisions_count":null,"updated_at":"2013-01-24T15:46:20Z","username":"soffes","website":null,"avatar_url":"https://recess.s3.amazonaws.com/avatars/482/1354297369/photo.jpg","full_name":"soffes","short_name":"soffes","display_name":"soffes","short_display_name":"soffes","analytics":{"votes":93,"decisions":7,"following":12,"followers":17,"updated_at":"2013-01-24T15:46:28Z"}}},"choices":[{"created_at":"2013-01-24T15:44:24Z","decision_id":3179,"decision_user_id":4,"id":5226,"meta":{"original_url":"https://lockitron.com/preorder/7388d18c-0cab-11e2-ad11-4040401f6100/choose?k=f7fd9084f93b549c15d34aa2f4911443#/seesaw-images"},"position":1,"subject":"Obsidian
        Black","type":"ImageChoice","updated_at":"2013-01-24T15:44:24Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3179/5226/1359042264/photo.png"},{"created_at":"2013-01-24T15:44:25Z","decision_id":3179,"decision_user_id":4,"id":5227,"meta":{"original_url":"https://lockitron.com/preorder/7388d18c-0cab-11e2-ad11-4040401f6100/choose?k=f7fd9084f93b549c15d34aa2f4911443#/seesaw-images"},"position":2,"subject":"Quicksilver","type":"ImageChoice","updated_at":"2013-01-24T15:44:25Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3179/5227/1359042265/photo.png"},{"created_at":"2013-01-24T15:44:25Z","decision_id":3179,"decision_user_id":4,"id":5228,"meta":{"original_url":"https://lockitron.com/preorder/7388d18c-0cab-11e2-ad11-4040401f6100/choose?k=f7fd9084f93b549c15d34aa2f4911443#/seesaw-images"},"position":3,"subject":"Bondi
        Blue","type":"ImageChoice","updated_at":"2013-01-24T15:44:25Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3179/5228/1359042265/photo.png"}],"invitations":[{"created_at":"2013-01-24T15:45:04Z","id":961,"notification_type":"APN","sent_at":"2013-01-24T15:45:04Z","updated_at":"2013-01-24T17:26:52Z","slug_path":"i/251m07","user":{"biography":null,"created_at":"2012-12-11T21:49:45Z","family_name":"Davenport","given_name":"Caleb","id":116,"meta":null,"moderated_decisions_count":null,"updated_at":"2013-01-25T18:53:39Z","username":"calebd","website":null,"avatar_url":"https://recess.s3.amazonaws.com/avatars/644/1357410680/photo.jpg","full_name":"Caleb
        Davenport","short_name":"Caleb D","display_name":"calebd","short_display_name":"calebd","analytics":{"votes":90,"decisions":7,"following":20,"followers":18,"updated_at":"2013-01-25T19:23:12Z"}},"vote":{"choice_id":5226,"created_at":"2013-01-24T15:48:26Z","decision_id":3179,"id":4007,"meta":null,"reason":null,"user":{"biography":null,"created_at":"2012-12-11T21:49:45Z","family_name":"Davenport","given_name":"Caleb","id":116,"meta":null,"moderated_decisions_count":null,"updated_at":"2013-01-25T18:53:39Z","username":"calebd","website":null,"avatar_url":"https://recess.s3.amazonaws.com/avatars/644/1357410680/photo.jpg","full_name":"Caleb
        Davenport","short_name":"Caleb D","display_name":"c[...]
