---
http_interactions:
- request:
    method: get
    uri: https://api.seesaw.co/v1/timelines/global?limit=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7674f1e5e824c3d1818770c130433ee2"'
      X-Pusher-Channel:
      - timeline-global
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2013-01-30T21:57:37Z","final_vote_id":null,"flag_count":null,"id":3374,"is_private":false,"meta":{"question_display_text":"Next
        pair of shoes?","question_display_html":"Next pair of shoes?","question_entities":[]},"published_at":"2013-01-30T22:00:46Z","question":"Next
        pair of shoes?","updated_at":"2013-01-30T22:24:16Z","user_id":28,"pusher_channel":"decision-28-3374","timeline_key":"28,3374","analytics":{"updated_at":"2013-01-30T22:24:16Z","comments":1,"views":0,"unique_viewers":0,"referrers":{},"votes":{"5550":{"user":1,"total":1,"display_percentage":50},"5548":{"user":1,"total":1,"display_percentage":50}},"total_votes":2},"user_vote":null,"choices":[{"created_at":"2013-01-30T21:59:08Z","decision_id":3374,"decision_user_id":28,"id":5548,"meta":{"subject_display_text":"Toms
        wedge boots","subject_display_html":"Toms wedge boots","subject_entities":[]},"position":1,"subject":"Toms
        wedge boots","type":"ImageChoice","updated_at":"2013-01-30T22:00:46Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3374/5548/1359583148/photo.jpeg"},{"created_at":"2013-01-30T21:59:28Z","decision_id":3374,"decision_user_id":28,"id":5550,"meta":{"subject_display_text":"Gold
        Tieks","subject_display_html":"Gold Tieks","subject_entities":[]},"position":2,"subject":"Gold
        Tieks","type":"ImageChoice","updated_at":"2013-01-30T22:00:46Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3374/5550/1359583168/photo.jpeg"},{"created_at":"2013-01-30T22:00:08Z","decision_id":3374,"decision_user_id":28,"id":5552,"meta":{"subject_display_text":"Teal
        Toms","subject_display_html":"Teal Toms","subject_entities":[]},"position":3,"subject":"Teal
        Toms","type":"ImageChoice","updated_at":"2013-01-30T22:00:46Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3374/5552/1359583208/photo.jpeg"}],"invitations":[],"user":{"biography":null,"created_at":"2012-11-20T20:14:05Z","family_name":"Tang","given_name":"Fiona","id":28,"meta":null,"moderated_decisions_count":null,"updated_at":"2013-01-30T21:57:35Z","username":"fiona","website":null,"avatar_url":"https://recess.s3.amazonaws.com/avatars/589/1355982553/photo.jpg","full_name":"Fiona
        Tang","short_name":"Fiona T","display_name":"fiona","short_display_name":"fiona","analytics":{"votes":145,"decisions":49,"following":48,"followers":36,"updated_at":"2013-01-30T22:00:47Z"}},"slug":"d/2C1T0m"},{"created_at":"2013-01-30T21:42:30Z","final_vote_id":null,"flag_count":null,"id":3368,"is_private":false,"meta":{"question_display_text":"Which
        sweater should I get Lucille?","question_display_html":"Which sweater should
        I get Lucille?","question_entities":[]},"published_at":"2013-01-30T21:42:36Z","question":"Which
        sweater should I get Lucille?","updated_at":"2013-01-30T22:24:20Z","user_id":71,"pusher_channel":"decision-71-3368","timeline_key":"71,3368","analytics":{"updated_at":"2013-01-30T22:24:20Z","views":0,"unique_viewers":0,"referrers":{},"votes":{"5535":{"user":2,"total":2,"display_percentage":40},"5537":{"user":3,"total":3,"display_percentage":60}},"total_votes":5},"user_vote":null,"choices":[{"created_at":"2013-01-30T21:42:30Z","decision_id":3368,"decision_user_id":71,"id":5534,"meta":{"original_url":"http://www.amazon.com/Zack-Zoey-Crowned-Crossbone-12-Inch/dp/B0016W943K/ref=sr_1_4?ie=UTF8&qid=1359581923&sr=8-4&keywords=dog+sweater"},"position":1,"subject":"What?
        No. None.","type":"ImageChoice","updated_at":"2013-01-30T21:42:30Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3368/5534/1359582150/photo.png"},{"created_at":"2013-01-30T21:42:31Z","decision_id":3368,"decision_user_id":71,"id":5535,"meta":{"original_url":"http://www.amazon.com/Zack-Zoey-Crowned-Crossbone-12-Inch[...]
