---
http_interactions:
- request:
    method: post
    uri: https://api.seesaw.co/v1/users/5/decisions/3276/votes
    body:
      encoding: UTF-8
      string: ! '{"choice_id":5381,"unique_id":"021a997d8aa785abed0a25c47b9a07be"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"380b1c2aadcb06b0b3c3c006df2ec706"'
    body:
      encoding: US-ASCII
      string: ! '{"choice_id":5381,"created_at":"2013-01-30T23:41:18Z","decision_id":3276,"id":5432,"meta":null,"reason":null}'
  recorded_at: Wed, 30 Jan 2013 23:41:17 GMT
- request:
    method: post
    uri: https://api.seesaw.co/v1/users/5/decisions/3276/votes
    body:
      encoding: UTF-8
      string: ! '{"choice_id":5381,"unique_id":"021a997d8aa785abed0a25c47b9a07be"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"invalid_vote","error_description":"Vote has already been
        recorded"}'
  recorded_at: Wed, 30 Jan 2013 23:41:18 GMT
recorded_with: VCR 2.4.0
