---
http_interactions:
- request:
    method: get
    uri: https://api.seesaw.co/v1/users/5/decisions/3276
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cb6a7576ddd9a0f750b7c0264be8903c"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-29T16:03:57Z","final_vote_id":null,"flag_count":null,"id":3276,"is_private":false,"meta":{"question_display_text":"Which
        lamp for the new apartment?","question_display_html":"Which lamp for the new
        apartment?","question_entities":[]},"published_at":"2013-01-29T16:22:01Z","question":"Which
        lamp for the new apartment?","updated_at":"2013-01-30T06:00:44Z","user_id":5,"pusher_channel":"decision-5-3276","timeline_key":"5,3276","analytics":{"unique_viewers":13,"views":20,"updated_at":"2013-01-30T06:00:44Z","referrers":{},"votes":{"5382":{"invited":5,"user":4,"total":9,"display_percentage":34},"5380":{"invited":3,"anonymous":1,"user":1,"total":5,"display_percentage":19},"5381":{"invited":3,"user":5,"total":8,"display_percentage":30},"5378":{"invited":2,"user":2,"total":4,"display_percentage":17}},"total_votes":26},"user_vote":null,"choices":[{"created_at":"2013-01-29T16:03:58Z","decision_id":3276,"decision_user_id":5,"id":5378,"meta":null,"position":1,"subject":null,"type":"ImageChoice","updated_at":"2013-01-29T16:12:10Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3276/5378/1359475438/photo.jpg"},{"created_at":"2013-01-29T16:12:27Z","decision_id":3276,"decision_user_id":5,"id":5380,"meta":null,"position":2,"subject":null,"type":"ImageChoice","updated_at":"2013-01-29T16:12:36Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3276/5380/1359475947/photo.jpg"},{"created_at":"2013-01-29T16:12:38Z","decision_id":3276,"decision_user_id":5,"id":5381,"meta":null,"position":3,"subject":null,"type":"ImageChoice","updated_at":"2013-01-29T16:12:44Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3276/5381/1359475958/photo.jpg"},{"created_at":"2013-01-29T16:12:46Z","decision_id":3276,"decision_user_id":5,"id":5382,"meta":null,"position":4,"subject":null,"type":"ImageChoice","updated_at":"2013-01-29T16:16:28Z","image_uri":"https://recess.s3.amazonaws.com/decisions/3276/5382/1359475966/photo.jpg"}],"invitations":[{"created_at":"2013-01-29T16:22:01Z","id":1054,"notification_type":"User","sent_at":"2013-01-29T16:22:58Z","updated_at":"2013-01-29T18:00:41Z","slug_path":"i/1K2O2H","user":{"biography":null,"created_at":"2012-12-19T17:57:59Z","family_name":"Flinchbaugh","given_name":"Chris","id":155,"meta":null,"moderated_decisions_count":null,"updated_at":"2013-01-29T17:38:00Z","username":"christopher","website":null,"avatar_url":"https://recess.s3.amazonaws.com/default_avatars/v1/photo_2.png","full_name":"Chris
        Flinchbaugh","short_name":"Chris F","display_name":"christopher","short_display_name":"christopher","analytics":{"votes":0,"decisions":0,"followers":0,"following":0}},"vote":{"choice_id":5378,"created_at":"2013-01-29T18:00:40Z","decision_id":3276,"id":5222,"meta":null,"reason":null,"user":{"biography":null,"created_at":"2012-12-19T17:57:59Z","family_name":"Flinchbaugh","given_name":"Chris","id":155,"meta":null,"moderated_decisions_count":null,"updated_at":"2013-01-29T17:38:00Z","username":"christopher","website":null,"avatar_url":"https://recess.s3.amazonaws.com/default_avatars/v1/photo_2.png","full_name":"Chris
        Flinchbaugh","short_name":"Chris F","display_name":"christopher","short_display_name":"christopher","analytics":{"votes":0,"decisions":0,"followers":0[...]
